.country-list > .country {
  height: 40px;
  border: 1px solid blue;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.country-list > .country-selected {
  background-color: lightblue;
}

.country-list > .country:hover {
  background-color: lightblue;
}
